@import "../../libs/index.scss";

.main-banner-container {
	padding-bottom: 20px;

	.slide-item {
		height: 120px;
		h3 {
			text-align: center;
		}
	}

	.slick-prev,
	.slick-next {
		display: none !important;
	}
}
