@import "../../../libs/_vars.scss";

.contents-container {
	margin-top: 40px;

	.contents-title {
		margin: 0 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.contents-description {
		margin-top: 10px;

		ul {
			display: flex;
			justify-content: flex-start;
			gap: 1rem;
			overflow-x: scroll;
			padding: 0 20px;

			li {
				width: 140px;
				min-width: 140px;
				height: 80px;
				background-color: $color-light-grey;
			}
			&::-webkit-scrollbar {
				display: none;
			}
		}
	}

	.JoyBox-root {
		margin-top: 12px;
		padding: 0 24px;
		width: 100%;
	}
}
